  <h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
  <h2>movie: <%= bookmark.movie.title %> </h2>
  <h2>comment: <%= bookmark.comment %></h2>
  <%= link_to list_bookmark_path(@list, bookmark), method: "delete" do %>
  <i class="fas fa-trash-alt"></i>
  <% end %>
<% end %>

<%= link_to "back", lists_path %>
<%= link_to "add bookmark", new_list_bookmark_path(@list) %>
