<h1><%= @list.name %></h1>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@list.photo.key)%>')">
  </div>




<% @list.bookmarks.each do |bookmark| %>
<div class="card" style="width: 18rem;">
<%= image_tag bookmark.movie.poster_url %>
 <div class="card-body">
  <h5 class="card-title" >movie: <%= bookmark.movie.title %> </h5>
  <h5>comment: <%= bookmark.comment %></h5>
  <p class="card-text"><%= bookmark.movie.overview %></p>
  <p></p>
  <%= link_to list_bookmark_path(@list, bookmark), method: "delete" do %>
  <i class="fas fa-trash-alt"></i>
  <% end %>
   </div>
</div>
<% end %>

<%= link_to "back", root_path %>
<%= link_to "add bookmark", new_list_bookmark_path(@list) %>
